<div class="detailOffre">
    <h1>{{ job.intitule }}</h1>
    <div class="critereOffre">
        <p>Expérience min : {{ job.experience }}</p>
        <p>Condition : {{ job.secteurActivite }}</p>
        <p>Lieux : {{ job.ville }} ({{ job.departement }})</p>
        <p>Salaire : {{ job.salaire }}</p>
    </div>
    <div class="descriptionOffre">
        <h3>Description du poste</h3>
        <p>{{ job.description }}</p>
    </div>
</div>
